@use "../utils/" as *;

.cart-item {
    @include flex(row, center, space-between);
    position: relative;

    button.remove {
        position: absolute;
        inset: -10px -10px auto auto;

        svg {
            color: rgb(194, 61, 61);
            width: .8rem;
            height: auto;
        }
    }

    &__about {
        @include flex(row, center);
        gap: 0rem 1rem;
    }

    &__img {
        background: $light-gray;
        border-radius: .5rem;
        @include padding(.7rem 1rem);

        img {
            width: 35px;
        }
    }

    &__info {
        @include typography(.9rem, normal);
        @include flex(column);
        gap: .3rem 0rem;
    }

    &__name {
        letter-spacing: 1px;
        @include typography(.85rem, normal);
        font-weight: 600;

        &:hover {
            text-decoration: underline;
        }
    }

    &__price {
        color: $dark-gray;
        @include typography(.85rem, normal);
        font-weight: 600;
        letter-spacing: 1px;
        font-family: monospace;
    }

    &__qty {
        color: $dark-gray;
        @include typography(.85rem, normal);
        align-self: flex-start;
        @include padding(.7rem);

    }

    &--checkout {}


    .counter {
        gap: 0rem 1rem;
        border-radius: .3rem;
        @include typography(.75rem, normal);
        font-weight: 600;

        &__value {
            width: 1rem
        }

        button {
            @include padding(.8rem .5rem);

            svg {
                stroke: $dark-gray;
            }
        }
    }
}