@use '../utils/' as *;

.categories {
    &__container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));

        gap: 2rem 1rem;
        @include padding(4rem 2rem);


    }
}