@use "../utils/" as *;

.mobile-nav {
    display: none;
    position: fixed;
    inset: 0;
    overflow: auto;
    background: $white;
    z-index: 3;
    opacity: 0;
    translate: 0 -30px;
    scale: 0;
    transition: opacity .3s ease-in-out, translate .3s ease-in-out, scale 0s .4s;
    padding: 0rem 1rem;

    &::-webkit-scrollbar {
        appearance: none;
        width: .4rem;
        height: .5rem;
        transition: width .2s ease-in-out;

        &:hover {
            width: .8rem;
        }
    }

    &::-webkit-scrollbar-thumb {
        background: $orange;
        border-radius: .5rem;
    }

    &::-webkit-scrollbar-track {
        background: $dark-gray;
        border-radius: .5rem;
    }

    &::-webkit-scrollbar-corner {
        background: $gray;
    }



    &.active {
        opacity: 1;
        translate: 0;
        scale: 1;
        transition: opacity .3s ease-in-out, translate .3s ease-in-out;
    }

    @include media("<=tablet") {
        display: block;
    }

    &__container {
        @include padding(5rem 0 0 0)
    }

    .categories {
        &__container {
            @include padding(1rem 2rem 3rem 1rem);
            @include flex(column);
            gap: 1rem 0rem;
        }
    }

}