@use "../utils/" as *;

.category-page {
    &__title {
        @include typography(1.6rem, normal);
        @include padding(2rem 0rem);
        background: $black;
        color: $white;
        text-transform: uppercase;
        text-align: center;
    }

    &__items {
        @include padding(5rem 2rem 2rem 2rem);
        @include flex(column);
        gap: 4rem 0rem;
    }
}