@use '../utils/' as *;

.header {
    z-index: 4;
    background: $black;
    position: sticky;
    top: 0;
    color: $white;
    width: 100%;


    &__container {
        @include flex(row, center);

        @include padding(1rem 1rem, 2rem);
        max-width: 1200px;
        margin-inline: auto;
        justify-content: space-between;

    }

    &__title {
        font-size: 1.65rem;
        font-weight: 800;

    }

    &__nav {
        @include media("<=desktop") {
            display: none;
        }
        font-weight: 600;

        @include flex(row, center, center);
        @include typography(.8rem, normal);
        gap: 0rem 2.5rem;
        text-transform: uppercase;
        letter-spacing: 3px;

        @include media(">=desktop-lg") {
            gap: 0rem 4.5rem;
        }
    }

    &__nav-link {
        transition: all .2s ease-in-out;

        &.active {
            color: $orange;
        }

        &:hover {
            color: $orange;
        }
    }

    &--sticky {}

    .toggle {
        @include media(">=desktop") {
            display: none;
        }
    }

    button.cart {
        position: relative;


        svg {
            width: 1.5rem;
            height: auto;
        }

        .active {
            color: $white;
            background: $orange;
            position: absolute;
            width: .6rem;
            aspect-ratio: 1/ 1;
            border-radius: 100%;
            top: 3px;
            right: -4px;

        }
    }

    .cart-icn,
    .bars-icn {
        @include media("<=tablet") {
            width: 1.5rem;
            height: auto;
        }
    }

    .bars-icn {
        stroke-width: 1px;
    }
}